<a href="https://colab.research.google.com/github/InTaewoo/coding/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC50%EC%A0%9C1%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2번 all_unique

In [3]:
def all_unique(lst):
  return len(lst)==len(set(lst))
print(all_unique([1, 2, 3, 4, 5, 6]))
print(all_unique([1, 2, 2, 3, 4, 5]))

True
False

#3번 : capitalize every word

In [6]:
s = "hello world"

def capitalize_every_word(s):
  return s.title() #s.title 앞글자  대문자로변경
capitalize_every_word(s)

'Hello World'

#4번 : celsius to fahrenheit

In [13]:
def celsius_to_fahrenheit(celsius):
  return (celsius*1.8)+32
celsius_to_fahrenheit(180)

356.0

#5번 : compact

In [23]:
lst = [0, 1, False, 2, '', 3, 'a', 's', 34]
def compact(lst):
  return list(filter(None,lst)) #filter=특정조건에 일치하는 값만st = [0, 1, False, 2, '', 3, 'a', 's', 34]

print(compact(lst))

[1, 2, 3, 'a', 's', 34]

#6번 : count occurences

In [32]:
lst = [1,1,2,1,2,3]
def count_occurences(lst,val):
  return lst.count(val)
print(count_occurences(lst,1))

3

#7번 : degrees to rads

In [34]:
from math import pi
def degreese_to_rads(deg):
  return (deg*pi)/180.0
degreese_to_rads(180)

3.141592653589793

#8번 : difference

In [36]:
lst1 = [1,2,3]
lst2 = [1,2,4]
def difference(a,b):
  return list(set(a)-set(b))
print(difference(lst1,lst2))

[3]

#9번 : digitize

In [46]:
def digitize(n):
  return list(map(int,str(n)))
digitize(123)

[1, 2, 3]

In [47]:
a = 123
lst = []
def digitize(n):
    for i in str(n):
        lst.append(i)
    return lst
print(digitize(a))

['1', '2', '3']