<a href="https://colab.research.google.com/github/InTaewoo/coding/blob/main/For%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1번 : 전국 거북이 마라톤 (반복문)

In [ ]:
for i in range(5000):
  print('안녕 거북이',i)

# 2번 : for 기본 구조 (반복문)

In [ ]:
character = ['앨리스','도도새','3월토끼']
for i in character:
  print(i)

앨리스
도도새
3월토끼

In [ ]:
len(character)

3

# 3번 : 여왕의 크로켓 경기장 (반복문)

In [ ]:
players = ['공작부인','흰 토끼','하트잭','모자장수']
for i in players:
  print(i,'퇴장!')

공작부인 퇴장!
흰 토끼 퇴장!
하트잭 퇴장!
모자장수 퇴장!

# 4번 : 문자열 반복하기 (반복문)

In [ ]:
cat = '체셔고양이'
for i in cat:
  print(i)

체
셔
고
양
이

In [ ]:
cat

'체셔고양이'

# 5번 : 들여쓰기 (반복문)

In [ ]:
nums = [0,1,2]
for num in nums : 
	print(num)
print(nums)
print()
nums = [0,1,2]
for num in nums : 
	print(num)
	print(nums)

0
1
2
[0, 1, 2]

0
[0, 1, 2]
1
[0, 1, 2]
2
[0, 1, 2]

In [ ]:
#코드1은 num라는 변수를 모두 실행한 후 nums를 출력
#코드2는 num과 nums 모두 실행하면서 출력

# 6번 : 순서열 만들기 (반복문)

In [ ]:
for i in range(9):
  a = 2
  print(a,'x',i+1,'=',a * (i+1))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
for i in range(10):
  print('2 x %d = %s'%(i,i*2))

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

# 7번 : 하얀장미와 빨간장미 (반복문)

In [ ]:
roses = ['하얀장미','하얀장미','하얀장미']
for i in range(len(roses)):
  roses[i]='빨간장미'
  
print(roses)

['빨간장미', '빨간장미', '빨간장미']