<a href="https://colab.research.google.com/github/InTaewoo/coding/blob/main/baekjoon/%EB%B0%B1%EC%A4%80_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 백준 2438
a = int(input())
for i in range(1,a+1):
  print(i*'*')

5
*
**
***
****
*****

In [2]:
a= int(input())
for i in range(1,a+1):
  print(" " *(a-1) + '*'*i )

5
    *
    **
    ***
    ****
    *****

In [3]:
# 백준 2439
a=int(input())
for i in range(1,a+1):
    print(" "*(a-i) + "*"*i)

5
    *
   **
  ***
 ****
*****

In [5]:
# 백준 10871 번

N,X = map(int,input().split())
A = list(map(int,input().split()))
for i in range(N):
  if A[i] < X :
    print(A[i],end=' ')

10 5
1 10 2 4 6 7 9 8 3 5
1 2 4 3

In [6]:
# 백준 1546번
N = int(input())
score = list(map(int,input().split()))
M = max(score)

new_list = []
for i in score:
    new_list.append(i/M*100)
test_avg = sum(new_list)/N
print(test_avg)

5
10 20 30
40.0

In [7]:
n = int(input())  # 과목 수
test_list = list(map(int, input().split()))
max_score = max(test_list)

new_list = []
for score in test_list :
    new_list.append(score/max_score *100)  # 새로운 점수 생성
test_avg = sum(new_list)/n
print(test_avg)

3
10 20 30
66.66666666666667

In [8]:
# 백준 8958번
count = int(input())
for i in range(count):
  score = 0
  c = 1
  ox = list(input(''))
  for i in ox:
    if i == 'O':
      score += c
    else :
      c = 1
  print(score)

5
OOOXOO
5
OOOOOO
6
XXXOXO
2
XXX
0
OXOXOXO
4

In [26]:
# 백준 4344번
n = int(input())

for _ in range(n):
    nums = list(map(int, input().split()))
    avg = sum(nums[1:])/nums[0]  # 평균을 구함 (nums[0]: 학생수, nums[1:] 점수)
    cnt = 0
    for score in nums[1:]:
        if score > avg:
            cnt += 1  # 평균 이상인 학생 수
    rate = cnt/nums[0] *100
    print(f'{rate:.3f}%')

3
10 20 30
20.000%
50 40 20
4.000%
30 20 50 100
10.000%

In [13]:
1

1